body {
  font-family: $font-primary;
}

.heading-h1 {
  font: $heading-h1;
}

.heading-h2 {
  font: $heading-h2;
}

.heading-h3 {
  font: $heading-h3;
}

.heading-h4 {
  font: $heading-h4;
}

.heading-h5 {
  font: $heading-h5;
}

.heading-h6 {
  font: $heading-h6;
}

.paragraphs {
  font: $typo-paragraphs;
  color: $color-dark;
}
